version: 2
updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
    time: "01:00"
    timezone: Canada/Eastern
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/ci-builder"
  schedule:
    interval: daily
    time: "02:00"
    timezone: Canada/Eastern
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/dockerfiles-builder"
  schedule:
    interval: daily
    time: "02:00"
    timezone: Canada/Eastern
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/figlet"
  schedule:
    interval: daily
    time: "02:00"
    timezone: Canada/Eastern
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/golang-air"
  schedule:
    interval: daily
    time: "02:00"
    timezone: Canada/Eastern
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/gomplate-ci-build"
  schedule:
    interval: daily
    time: "02:00"
    timezone: Canada/Eastern
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/jwt"
  schedule:
    interval: daily
    time: "02:00"
    timezone: Canada/Eastern
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/man"
  schedule:
    interval: daily
    time: "02:00"
    timezone: Canada/Eastern
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/remarkjs"
  schedule:
    interval: daily
    time: "02:00"
    timezone: Canada/Eastern
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/sed"
  schedule:
    interval: daily
    time: "02:00"
    timezone: Canada/Eastern
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/socat"
  schedule:
    interval: daily
    time: "02:00"
    timezone: Canada/Eastern
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/ssh"
  schedule:
    interval: daily
    time: "02:00"
    timezone: Canada/Eastern
  open-pull-requests-limit: 10
