version: 2
updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  commit-message:
    prefix: deps(actions)
  groups:
    actions:
      patterns:
        - "actions/*"
- package-ecosystem: docker
  directories:
    - "/bashbrew"
    - "/dockerfiles-builder"
    - "/figlet"
    - "/freeciv"
    - "/gomplate-ci-build"
    - "/man"
    - "/sed"
    - "/socat"
    - "/ssh"
  schedule:
    interval: daily
    time: "02:00"
    timezone: Canada/Eastern
  open-pull-requests-limit: 10
  commit-message:
    prefix: deps(actions)
  groups:
    docker:
      patterns:
        - "*"
