version: 2.1

jobs:
{{- range .dir }}{{ if and (and (file.IsDir .) (not (strings.HasPrefix "." .))) (not (file.Exists (filepath.Join . ".ignore"))) }}
  image-{{ . }}:
    docker:
      - image: qlik/tiny-build
    steps:
      - checkout
      - setup_remote_docker:
          version: 18.06.0-ce
      - run: docker build -f {{ . }}/Dockerfile {{ . }}/
{{- end }}{{ end }}

workflows:
  version: 2
  build_docker_images:
    jobs:
{{- range .dir }}{{ if and (and (file.IsDir .) (not (strings.HasPrefix "." .))) (not (file.Exists (filepath.Join . ".ignore"))) }}
      - image-{{ . }}
{{- end }}{{ end }}
