name: "Dependabot Automerge - Action"

on:
  pull_request:

jobs:
  worker:
    runs-on: ubuntu-latest
    name: Automerge
    if: github.actor == 'dependabot[bot]'
    steps:
    - name: automerge
      uses: actions/github-script@v3
      with:
        script: |
          github.pullRequests.createReview({
            owner: context.payload.repository.owner.login,
            repo: context.payload.repository.name,
            pull_number: context.payload.pull_request.number,
            event: 'APPROVE'
          })
          github.pullRequests.merge({
            owner: context.payload.repository.owner.login,
            repo: context.payload.repository.name,
            pull_number: context.payload.pull_request.number
          })
        github-token: ${{github.token}}
  auto-approve:
    name: Auto approve
    runs-on: ubuntu-latest
    if: github.actor == 'hairyhenderson'
    steps:
    - uses: hmarr/auto-approve-action@v2.0.0
      with:
        github-token: "${{ github.token }}"
