{{- $ghcrhost := "ghcr.io" }}
{{- $ghcrns := print $ghcrhost "/hairyhenderson" }}
name: Docker Build
on: push

jobs:
{{- range .dir }}{{ if and (and (file.IsDir .) (file.Exists (filepath.Join . "Dockerfile")) (not (strings.HasPrefix "." .))) (not (file.Exists (filepath.Join . ".ignore"))) }}
  docker-build-{{ . }}:
    name: docker build {{ . }}
    runs-on: ubuntu-20.04
    container:
      image: hairyhenderson/dockerfiles-builder:latest
    env:
      BASHBREW_LIBRARY: ./library
      BASHBREW_NAMESPACE: hairyhenderson
    steps:
    - uses: actions/checkout@master
    {{- if file.Exists (filepath.Join "library" .) }}
    - name: build
      run: bashbrew build {{ . }}
    - name: tag
      run: bashbrew tag --target-namespace {{ $ghcrns }} {{ . }}
    - name: login
      run: |
        echo {{"${{ secrets.GHCR_TOKEN }}"}} | docker login {{ $ghcrhost }} --username {{ "${{ github.actor }}" }} --password-stdin
        echo {{"${{ secrets.DOCKERHUB_TOKEN }}"}} | docker login --username {{ "${{ github.actor }}" }} --password-stdin
      if: github.repository == 'hairyhenderson/dockerfiles' && github.actor == 'hairyhenderson'
    - name: push
      run: |
        bashbrew push --dry-run {{ . }}
        bashbrew push --dry-run --target-namespace {{ $ghcrns }} {{ . }}
      if: github.ref != 'refs/heads/master' && github.repository == 'hairyhenderson/dockerfiles' && github.actor == 'hairyhenderson'
    - name: push
      run: |
        bashbrew push {{ . }}
        bashbrew push --target-namespace {{ $ghcrns }} {{ . }}
      if: github.ref == 'refs/heads/master' && github.repository == 'hairyhenderson/dockerfiles'
    {{- else }}
    - name: build
      run: make {{ . }}/image.iid
    - name: tag
      run: docker tag $(< {{ . }}/image.iid) {{ $ghcrns }}/{{ . }}
    - name: login
      run: echo {{"${{ secrets.GHCR_TOKEN }}"}} | docker login {{ $ghcrhost }} --username {{ "${{ github.actor }}" }} --password-stdin
    - name: docker push
      run: docker push {{ $ghcrns }}/{{ . }}
      if: github.ref == 'refs/heads/master' && github.repository == 'hairyhenderson/dockerfiles'
    {{- end }}
{{- end }}{{ end }}
